<!DOCTYPE html>
<html>
  <head>
    <title>ValidstateDocs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  </head>

  <body>

    <div class="wrapper" data-link-scroll="true">

      <%= render 'shared/sidebar' %>

      <div class="content p-b-4">
        <%= render "shared/header" %>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
